:root {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  gap: 30vh;
}

img {
  position: absolute;
  width: max(40vw, 40%);
  /* height: 100%; */
  z-index: -1;
}

.author {
  color: whitesmoke;
  align-self: center;
}

.author a {
  color: inherit;
  text-decoration: inherit;
}

.right {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: #f5f5f5;
}

.middle {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 2px 1px #e5e7eb;
  padding: 30px 0px;
}

.middle > * {
  margin-left: 50px;
}
.form-container {
  display: flex;
  gap: 40px;
}

.form {
  flex: 1;
  max-width: 200px;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

input {
  box-shadow: 2px 3px 2px 1px #e5e7eb;
  border-color: #767c7c;
  border-width: 1px;
  opacity: 0.7;
  height: 20px;
  color: black;
  border-radius: 4px;
  outline: none;
}

input:focus {
  outline: none;
  border-color: blue;
  border-width: 1px;
}
.btn {
  background-color: #767c7c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
}

.log-in {
  color: #767c7c;
  font-weight: 600;
  text-decoration: none;
}

.top,
.bottom {
  margin: 0px 50px;
}

.top {
  font-size: 20px;
  font-weight: 500;
}
